<%= simple_form_for [@cocktail, @dose] do |f| %>
  <div>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to cocktail', cocktail_path(@cocktail), class: 'btn btn-danger' %>
